<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Logs</title>
    <link rel="stylesheet" href="../style/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js" integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="cad_usuario.html">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_logs.html">Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cad_logs.html">Cadastro de Logs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">Login</a>
            </li>
        </ul>
        <h1>Cadastro de Logs</h1>
        <hr><br>
        <form id="frmCadLogs" method="post">
            <div class="mb-3">
                <label for="nome" class="form-label">Categoria</label>
                <input type="text" class="form-control" id="categoria" name="categoria" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Horas trabalhadas</label>
                <input type="text" class="form-control" id="horas_trabalhadas" name="horas_trabalhadas" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Linhas de Código</label>
                <input type="text" class="form-control" id="linhas_codigo" name="linhas_codigo" required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Bugs Corrigidos</label>
                <input type="text" class="form-control" id="bugs_corrigidos" name="bugs_corrigidos" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</body>
<script>
document.getElementById("frmCadLogs").addEventListener("submit", function(event) {
    const categoria = document.getElementById("categoria").value;
    const horas_trabalhadas = document.getElementById("horas_trabalhadas").value;
    const linhas_codigo = document.getElementById("linhas_codigo").value;
    const bugs_corrigidos = document.getElementById("bugs_corrigidos").value;

    const url = "http://localhost:3000/logs";

    fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            categoria: categoria,
            horas_trabalhadas: horas_trabalhadas,
            linhas_codigo: linhas_codigo,
            bugs_corrigidos: bugs_corrigidos
        })
    })
    .then(response => response.json())
    .then(data => {
        alert("Log cadastrado com sucesso!");
    })
    .catch(error => console.log("Error: ", error));
    
});
</script>
</html>